---
import Main from '@/layouts/main.astro'
import {Articles} from '@/components/Articles'
//microCMS呼び出し
import { getBlogs } from "@/lib/microcms";
const response = await getBlogs({ fields: ["id", "title","createdAt", "eyecatch", "category" ] });
---

<Main
    title="ブログ一覧 | PixelFringe.com"
    description="PixelFringe.comのすべてのブログ記事一覧です。"
    image="/kip_sad.png"
>
    <Articles posts={response.contents}></Articles>
</Main>