---
import '../styles/global.css';
import { Hero } from '@/components/Hero';
import { Blog } from '@/components/Blog';
import Main from '@/layouts/main.astro'

import { getBlogs } from "@/lib/microcms";
const response = await getBlogs({ fields: ["id", "title","createdAt", "eyecatch", "category" ], limit: 3 });
---


<Main
	title="PixelFringe.com | 最新のテクノロジーとデザインのブログ"
	description="PixelFringe.comは、最新のWebテクノロジー、デザイン、開発に関する洞察を提供するブログです。フロントエンドからバックエンドまで、役立つ情報をお届けします。"
	image="/girl.jpg"
>
	<div class="place-items-center h-screen content-center px-5">
   		<Hero/>
		<Blog
            posts={response.contents}
            heading="Latest Blog Posts"
            buttonText="すべての記事を見る"
            buttonUrl="/blog"
        />
	</div>
</Main>
