---
import '../styles/global.css';
import { Hero } from '@/components/Hero';
import { Blog } from '@/components/Blog';
import Main from '@/layouts/main.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---


<Main title="toppage">
	<div class="place-items-center h-screen content-center px-5">
   		<Hero/>
		<Blog/>
	</div>
</Main>
