---
import '../styles/global.css';
import { Hero } from '@/components/Hero';
import { Blog } from '@/components/Blog';
import Main from '@/layouts/main.astro'

import { getBlogs } from "@/lib/microcms";
const response = await getBlogs({ fields: ["id", "title","createdAt", "eyecatch", "category" ], limit: 3 });
---


<Main
	title="PixelFringe.com | VRChatに住んでいるWeb屋さんのブログです"
	description="PixelFringe.comは、VRChatの話やWeb制作的な話を掲載しています。"
	image="/kip_sad.png"
>
	<div class="place-items-center h-screen content-center px-5">
   		<Hero/>
		<Blog
            posts={response.contents}
            heading="Latest Blog Posts"
            buttonText="Read more"
            buttonUrl="/blog"
        />
	</div>
</Main>
