---
import Main from '@/layouts/main.astro'
const images = [
  { url: "https://image.pixelfringe.com/VRChat_2025-10-04_14-13-55.368_3840x2160.png" },
  { url: "https://image.pixelfringe.com/VRChat_2025-10-04_14-21-56.321_3840x2160.png" },
  { url: "https://image.pixelfringe.com/VRChat_2025-10-04_14-30-42.749_3840x2160.png" },
  { url: "https://image.pixelfringe.com/VRChat_2025-10-04_14-37-23.613_3840x2160.png" },
  { url: "https://image.pixelfringe.com/VRChat_2025-10-04_14-42-50.056_3840x2160.png" },
  // { url: "" },
]
---

<Main title="Kipfel Gallery" noindex={true}>
  <div id="image-modal" class="modal">
    <span class="close-button">&times;</span>
    <img class="modal-content" id="modal-image">
  </div>

  <div class="image-gallery">
    {
      images.map((image) => <img loading="lazy" src={image.url} alt="kipfel" class="gallery-image">)
    }
  </div>
</Main>

<style>
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  .gallery-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
    transition: transform 0.2s;
  }
  .gallery-image:hover {
      transform: scale(1.05);
  }

  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }

  .close-button:hover,
  .close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script>
  // Get the modal
  const modal = document.getElementById("image-modal");

  // Get the image and insert it inside the modal
  const modalImg = document.getElementById("modal-image") as HTMLImageElement;
  const images = document.querySelectorAll(".gallery-image");

  images.forEach(image => {
    image.addEventListener("click", () => {
      if (modal && modalImg) {
        modal.style.display = "block";
        modalImg.src = (image as HTMLImageElement).src;
      }
    });
  });


  // Get the <span> element that closes the modal
  const span = document.querySelector(".close-button") as HTMLElement;

  // When the user clicks on <span> (x), close the modal
  if (span) {
    span.onclick = () => {
      if(modal) modal.style.display = "none";
    }
  }

  // Also close modal on clicking outside the image
  if (modal) {
      modal.onclick = (e) => {
          if (e.target === modal) {
              modal.style.display = "none";
          }
      }
  }
</script>
